<h2 class="heading text-center mb-4 items-center mt-4">Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "container-sign flex flex-column gap-4", data: { turbo: "false" } }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= input_email(f, :email, resource, placeholder: "username@mail.com", autofocus: true) %>
  <%= input_text(f, :username, resource, placeholder: "username") %>
  <%= input_text(f, :name, resource, placeholder: "username") %>
  <%= input_file(f, :avatar, resource, placeholder: "username") %>
  <%= input_password(f, :password, resource, placeholder: "**********") %>
  <%= input_password(f, :password, resource, placeholder: "**********") %>
  <%= input_password(f, :current_password, resource, placeholder: "**********") %>
  
  <div class="actions">
    <%= f.submit "Submit", class: "button button--primary full-width"%>
  </div>
<% end %>

<div class="text-center">
  <p>Cancel account</p>
</div>
