<%= form_with(model: tweet, class: "mb-4") do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center pd-2 bg-white mb-4">
    <%= form_with model: @tweet, method: :patch, data: { turbo: "false" } do |f| %>
      <div class="flex flex-column">
        <%= f.text_area :body, placeholder: "Remember to thing before write...", id: "text_area"%>
        <%= f.submit "Update", class: "button button--tweet align-end"%>
      </div>
    <%end%>
  </div>

<% end %>
