<div class="text-center">
  <h1><%= link_to "Home", root_path %></h1>
</div>

<div class="flex gap-2 mb-4">
  <div class="text-center">
    <% if current_user&.avatar&.attached? %>
    <%= image_tag current_user.avatar, class: "avatar" %>
    <% else %>
    <%= image_tag "icon/avatar.svg", class: "avatar" %>
    <% end %>
  </div>

  <div class="text-center">
    <%= form_with model: @tweet_new, data: { turbo: "false" }, class: "flex flex-end gap-2" do |f| %>
      <%= f.text_area :body, cols: 70, rows: 1 ,placeholder: "Remember to thing before write..." %>
      <%= f.submit "Tweet", class: "button button--tweet"%>
    <%end%>
  </div>
</div>

<div id="tweets">
  <%# @tweets.each do |tweet| %>
   <%# link_to tweet_path(tweet) do %> <%# tweet/:id %>
    <%# render tweet %>
    <%# end %>
  <%# end %>
  <%= render @tweets %>

</div>


