<p style="color: green"><%= notice %></p>

<h1 class="content-l bold flex center-hor mb-4 mt-4">Tweet Details</h1>
<section class="mb-4 "><%= render @tweet %> </section>
<div class="text-center">
    <%= form_with model: @tweet_new, data: { turbo: "false" }, class: "flex flex-end gap-2" do |f| %>
      <%= f.text_area :body, cols: 70, rows: 1 ,placeholder: "Remember to thing before write..." %>
      <%= f.submit "Tweet", class: "button button--tweet"%>
    <%end%>
</div>
<section ><%= render @retweets %></section>

