<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>

    <header>
    </header>

    <main class="main" >
      <aside>
      <div>
        <%= link_to (image_tag "img/logo.svg"), root_path %>
      </div>

      <div class="flex gap-2">
        <%= link_to (image_tag "icon/tweetter_black.svg"), root_path %>
        <%= link_to "Home", root_path %>
      </div>

      <% if !current_user.nil?%>
        <div>
          <div class="flex gap-2">
            <%= image_tag "icon/avatar.svg" %>
            <%= link_to "Profile", edit_user_registration_path %>
          </div>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, data: {turbo: "false"}, class: "button button--primary" %>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path  %>
        <div data-turbo="false">
          <%= form_with(url: user_github_omniauth_authorize_path, method: :post) do |f| %>
            <%= f.submit "Git Hub", class: "button button--secondary"  %>
          <% end %>
        </div>
        <div data-turbo="false">
          <%= form_with(url: user_google_oauth2_omniauth_authorize_path, method: :post) do |f| %>
            <%= f.submit "Google", class: "button button--secondary"  %>
          <% end %>
        </div>
        
        
      <% end %>
        
      </aside>


      <section>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </section>
    </main> 

    <script>

      var propTabs = {

        primer_encabezado: document.getElementById('encabezado').firstElementChild,
        primer_contenido: document.getElementById('contenido').firstElementChild,
        enlaces_encabezado: document.querySelectorAll('#encabezado li a'),
        li_encabezado: document.querySelectorAll('#encabezado li'),
        divs_contenido: document.querySelectorAll('#contenido > div'),
        contenido_activo: null

      }

var metTabs = {
      
      inicio: function(){
        propTabs.primer_encabezado.className = "active"; // tweets(encabezado)
        propTabs.primer_contenido.className = "active"; // list_tweets

        for (var i = 0; i < propTabs.enlaces_encabezado.length; i++) {
          propTabs.enlaces_encabezado[i].addEventListener("click", metTabs.evento);
        }
      },

      evento: function(e){
        e.preventDefault();

        for (var i = 0; i < propTabs.li_encabezado.length; i++) {
          propTabs.li_encabezado[i].className = "";
        }

        for (var i = 0; i < propTabs.divs_contenido.length; i++) {
          propTabs.divs_contenido[i].className = "";
        }

        this.parentElement.className = "active";
        propTabs.contenido_activo = this.getAttribute("href");
        document.querySelector(propTabs.contenido_activo).className = "active";
        document.querySelector(propTabs.contenido_activo).style.opacity = 0;
        setTimeout(function(){
          document.querySelector(propTabs.contenido_activo).style.opacity = 1;
        }, 100);
      }

    }
    metTabs.inicio();
    </script>
  </body>
</html>
