<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
    </header>

    <aside>
      <h2>{ Tweetable }</h2>
      <img src="/assets/images/icon/twitter_black.svg" height="32"/>
      <h2>Home</h2>
        <button>
          Login
        </button>
      <h3>Continue with Google</h3>
      <h3>Continue with Github</h3>
    
    </aside>

    <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      
    </body>


  </body>
</html>
